<form action="/payment/results">
<div><label for="beginner_apr">APR</label> 
<input id="beginner_apr" type="text" placeholder="E.g. 5.42" name="user_APR"></div>

<div><label for="beginner_years">Number of years</label> 
<input id="beginner_years" type="text" placeholder="How many years to repay?" name="user_years"></div>

<div><label for="beginner_principal">Principal</label> 
<input id="beginner_principal" type="text" placeholder="How much principal?" name="user_principal"></div>

<div><button>Calculate monthly payment</button></div>

</form>