<form action="/square/results">
<div><label for="beginner">Enter a number</label></div>
<div><input id="beginner" type="text" placeholder="What number do you want to square?" name="user_input"></div>
<div><button>Calculate square</button></div>

</form>