<form action="/square_root/results">
<div><label for="beginner2">Enter a number</label></div>
<div><input id="beginner2" type="text" placeholder="What number do you want to square root?" name="user_input2"></div>
<div><button>Calculate square root</button></div>

</form>